.full_name {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    margin-top: 5rem;
}

.credentials {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    font-family: sans-serif;
}

#title {
    margin-left: 1rem;
    color: rgb(107, 107, 107);
}

.btn {
    margin-top: 2rem;
}